<div class="app-content pt-3 p-md-3 p-lg-4">
  <div class="container-xl">
    <div class="row g-3 mb-4 align-items-center justify-content-between">
      <div class="col-auto">
        <h1 class="app-page-title mb-0">{{titulo}}</h1>
      </div>
      <div class="col-auto">
        <div class="page-utilities">
          <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
            <div class="col-auto">
              <a class="btn app-btn-primary" routerLink="/clientes">Regresar</a>
            </div>
          </div><!--//row-->
        </div><!--//table-utilities-->
      </div><!--//col-auto-->
    </div><!--//row-->
    <hr class="mb-4">
    <div class="row g-4 settings-section">
      <div class="col-12">
        <div class="app-card app-card-settings shadow-sm p-4">

          <div class="app-card-body">
            <div class="alert alert-danger" *ngIf="getErrorSize()">
              <ul class="m-0">
                <li *ngFor="let err of errores">
                  {{ err }}
                </li>
              </ul>
            </div>

            <form #clienteForm="ngForm" class="settings-form">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" #nombre="ngModel"><!-- required -->
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                  <div *ngIf="nombre?.errors?.['required']">
                    <small class="text-danger">Nombre es requerido</small>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="cliente.apellido" #apellido="ngModel"><!-- required -->
                  <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                    <div *ngIf="apellido?.errors?.['required']">
                      <small class="text-danger">Apellido es requerido</small>
                    </div>
                  </div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="cliente.email" #email="ngModel"><!-- required email -->
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email?.errors?.['required']">
                    <small class="text-danger">Email es requerido</small>
                  </div>
                  <div *ngIf="email.errors?.['email']">
                    <small class="text-danger">Email debe tener un formato válido</small>
                  </div>
                </div>
              </div>
              <button type="button" class="btn app-btn-primary" (click)="create()" *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Guardar</button>
              <ng-template #elseBlock>
                <button type="button" class="btn app-btn-primary" (click)="update()" [disabled]="!clienteForm.form.valid">Editar</button>
              </ng-template>
            </form>
          </div><!--//app-card-body-->
        </div><!--//app-card-->
      </div>
    </div><!--//row-->
    <hr class="my-4">
  </div><!--//container-fluid-->
</div><!--//app-content-->
